<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/av-icons.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">

<style is="custom-style" include="iron-flex iron-flex-alignment"></style>

<dom-module id="cotton-checkbox">

    <template>
        <div class="layout horizontal">
            <div class="container layout horizontal center center-justified"><paper-icon-button disabled="[[disabled]]" icon="{{_icon}}" on-change="_stopPropagation" on-tap="_toggle" toggles>&nbsp;</paper-icon-button></div>
            <div class="layout horizontal center flex label" on-tap='_toggle'><content></content></div>
        </div>
    </template>

    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            --cotton-checkbox-size : 18px;
        }
        :host paper-icon-button {
            padding: 0;
            width: var(--cotton-checkbox-size);
            height: var(--cotton-checkbox-size);
            margin-right: 8px;
            border: 1px solid #ddd;
        }
        :host[circle-box] paper-icon-button {
            border-radius: 10px;
        }
        :host paper-icon-button[toggles] {
            background: white;
            color: white;
        }
        :host paper-icon-button[toggles][active] {
            color: black;
        }
        :host paper-icon-button ::content iron-icon {
            position: absolute !important;
        }
        :host paper-icon-button[disabled] {
            color: #ddd !important;
        }
        :host .label {
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>

    <script>
        Polymer({
            is: 'cotton-checkbox',

            properties: {
                icon : { type: String, value: function() { return 'close' }, observer: '_refreshIcon' },
                _icon : { type: String, value: function() { return 'close' } },
                checked: { type: Boolean, observer: '_refreshState' },
                disabled: { type: Boolean }
            },

            _toggle : function(e) {
                if (this.disabled) return;
                this.checked = !this.checked;
                this._notify();
                e.stopPropagation();
            },

            _notify : function() {
                this._refreshState();
                this.fire("change", this.checked);
            },

            _stopPropagation : function(event) {
                event.stopPropagation();
                return false;
            },

            _refreshState : function() {
                var button = this.querySelector("paper-icon-button");
                button.active = this.checked;
            },

            _refreshIcon : function() {
                this._icon = this.icon;
            }

        });
    </script>
</dom-module>
